.LeftBox,.RightBox{
    height: 100%;
    border-radius: 1rem;
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,1fr);
    transition:all 0.5 ease-in-out;
    gap: 15px;
}
h1{
    font-size: 40px;
    margin-top:20%;
    margin-bottom:0px;
}
h2{
    font-size: 20px;
    margin:0px;
}
.LeftBox{
    grid-column: 1/2;
    grid-row: 2/3;
    color: white;
}
#loading{
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
}
.RightBox{
    width: 100%;
    grid-column: 2/4;
    grid-row: 1/-1;
    background-color: #1EC14B;
}

input{
    grid-column: 1/2;
    grid-row:1/2;
}
input:focus{
    border: none;
    box-shadow: none;
    outline: none;
    
}
.NameAndPic{
    grid-column: 1/-1;
    grid-row: 1/3;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    flex-wrap: wrap;

    /* grid-auto-columns: minmax(0,1fr);
    grid-auto-flow: column;
    grid-auto-rows: minmax(0,1fr); */

}
.AlbumCover{
    height: 100%;
    max-width: 100%;
    background-size: cover;
    border-radius: 10px;

}
.greenBoxesWrapper{
    grid-column: 1/-1;
    grid-row: 3/4;
    display: grid;
    gap:15px;
    grid-template-columns: repeat(4,1fr);
    /* border:solid 3px black; */


}
.GreenBox{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    border-radius: 10px;
    background-color: #1EC14B;
}

.analysisValue{
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-inline-start: 10px;
    border-radius: 10px;
    background-color: white;
    
    
}



/* ----------------Searchbar----------------------- */
.searchBox{
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.searchOption{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30%;
    background-color: rgb(68, 68, 68);
}
.topSearch{
    width: 50%;
    height: 100%;
    background-color: rgb(68, 68, 68);
    border: solid red 3px;
}
.otherSearch{
    width: 50%;
    height: 100%;
    background-color: rgb(68, 68, 68);
    border: solid rgb(43, 255, 0) 3px;
}

/* ----------------Transitions--------------------- */
.my-node-enter {
    opacity: 0;
  }
  .my-node-enter-active {
    opacity: 1;
    transition: opacity 1000ms;
  }
  .my-node-exit {
    opacity: 1;
  }
  .my-node-exit-active {
    opacity: 0;
    transition: opacity 2000ms;
  }