.container{
    height: 100%;
    width: 50%;
    background-color: #ffffff;
    border-radius: 8px;
    display: grid;
    place-items: center;
    
}
.circular-progress{
    position: relative;
    height:120px;
    width: 120px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.circular-progress:before {
    content: "";
    position: absolute;
    height: 84%;
    width: 84%;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
  }
.value-container{
    position: relative;
    font-size: 30px;
    color: #231c3d;
}