@font-face {
    font-family: 'Gotham';
    src: url('./assets/fonts/Gotham-Font/GothamMedium.ttf')format('truetype');
    src: url('./assets/fonts/Gotham-Font/Gotham-XLight.otf');
  }
  @font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto/Roboto-Black.ttf')format('truetype');

  }
  /* @font-face {
    font-family: 'Gotham-bold';
    src: url('./assets/fonts/Gotham-Font/GothamBold.ttf');
    font-weight: bold;
  } */

#root, html, body{
    font-family: Roboto;
    height:100%;
    width: 100%;
    margin:0px;
}
#root{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Wrapper{

background-color: black;
    width: 80%;
    height: 80%;
    display: grid;

    grid-template-columns: minmax(0, 3fr) 1fr;
    grid-template-rows: 30px auto;
    gap:15px;
    padding: 1rem;
    border-radius: 1rem;
    margin: 2rem;
    box-shadow:6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7);

}